
 #teamContainer{
  margin-bottom:5rem;
 }
 .section-header h3{
  font: 30px/1.1em 'opensans-bold', sans-serif;
  letter-spacing:1px;
  font-weight: 700;
  margin: 0 auto 4px auto;
  text-align: center;
 }
 .section-header p{
  text-align: center;
 }
 .social{
  font-size: large;
 }
 .team-content{
  margin-bottom:2rem;
 }
 .team-name{
    text-align: center;
 }
 .section-text{
   font: 20px/1.9em 'librebaskerville-regular', serif;
   color: rgb(202, 187, 187);
   text-align: center;
   margin-left:3rem;

 }

 @media (max-width: 991px) {


  .section-text{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;

 }

}