.banner {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width:85%;
    justify-content: center;
    margin-top:-2rem;
 }
 .banner-text { width: 100%; }
 .banner-text h1 {
   color: rgb(17, 17, 17);
    font-size:2rem;
    font-weight: 700;
    text-align: center;
    width:50%;
 }
 .banner-text p {
    font: 20px/1.9em 'librebaskerville-regular', serif;
    color: rgb(202, 187, 187);
    width:85%;
    text-align: center;
   
 }

 
 .highlight{
   color: #0164c9;;
 }
 
 .button-component{
   margin-top:-2rem;
   justify-content: center;
 }

 @media (max-width: 960px) {
  .banner-text h1 {
    
     width:90%;
  }
  .button-component{
    margin-top:-2rem;
     width:600px;
  }
 }