ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background:#fff;
  position: relative;
}
.footer-cta {
  border-bottom: 0.5px solid #e7e2e2;
}
.single-cta i {
  color: #6668f4;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
 padding-left:3rem;
}
.cta-text h4 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: rgb(202, 187, 187);
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom:10px;
  height:70px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom:5px;
  font-size: 14px;
      color: rgb(202, 187, 187);
  line-height: 28px;
}

.footer-social-icon span {
  color: rgb(202, 187, 187);
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  margin-left:2rem;
}
.footer-social-icon a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-left:2rem;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: rgb(202, 187, 187);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background:#6668f4;;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #6668f4;;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #d1cccc;
  border: 1px solid #d1cccc;
  color: #fff;
  border-radius:1rem;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #6668f4;;
    padding: 13px 20px;
    border: 1px solid #ebebf3;
    border-top-right-radius:1rem;
    border-bottom-right-radius:1rem;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #6668f4;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #6668f4;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
@media (max-width: 960px) {
  .footer-social-icon{
    margin-top:2rem;
    margin-left:-2rem;
  }
}