/* new */
.navbar {
  background-color: rgb(255, 255, 255);
  z-index: 100;
  position: sticky;
  width: 100%;
  top: -1px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.5s;
  padding: 0px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(121, 121, 121, 0.2);
}

.navbar-open {
  transform: translate(0, -100%);
}

.navbar-close {
  transform: translate(0, 0%);
}

.navbar-inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.nav-links {
  color: rgb(202, 187, 187);
  text-decoration: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.navbar-logo {
  color: rgb(202, 187, 187);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: rgb(202, 187, 187);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "Poppins", sans-serif;
}

.nav-links:hover {
  color: rgb(139, 124, 124);
}

.fa-bars {
  color: rgb(202, 187, 187);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media (max-width: 960px) {
  .navbar {
    padding: 0%;
  }

  .navbar-inner-container {
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(121, 121, 121, 0.2);
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0164c9;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 10;
  }

  .nav-links {
    text-align: center;
    padding: 1.25rem;
    width: 100%;
    display: table;
    transition: all 0.3s;
  }

  .nav-links:nth-child(1) {
    background: white;
    z-index: 30;
  }

  /* .nav-links:hover {
    background-color: #7577fa;
    border-radius: 0;
  } */

  .navbar-logo {
    position: relative;
    top: 0;
    left: 0;
  }

  .menu-icon {
    display: block;
    margin-right: 40px;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    cursor: pointer;
    z-index: 50;
  }

  .fa-times {
    color: rgb(202, 187, 187);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: rgb(202, 187, 187);
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    color: rgb(202, 187, 187);
  }

  .btn2 {
    display: none;
  }
}
.company_logo {
  width: 120px;
  height: 40px;
}
